* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/gym1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav {
  padding: 10px 0;
  text-align: right;
  background-color: rgba(8, 12, 24, 1);
  height: 30px;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
nav ul li a {
  text-decoration: none;
  color: rgba(229, 229, 229, 0.37);
  font-size: 18px;
  font-style: poppins;
  margin: 0px 5px;
  font-weight: lighter;
  margin-top: 50px;
}
nav ul li a:hover {
    color: white
}
.strapline-container {
  width: 100%;
  height: 50%;
  margin-top: 250px;
  text-align: center;
  color: white;
  position: absolute;
}
.main-strapline {
  font-size: 48px;
  font-style: normal;
  font-weight: 100px;
  font-style: poppins;
}
.semi-strapline {
  font-size: medium;
  font-weight: 50px;
}
.buddy-club-sections {
  height: 100vh;
  width: 100vw;
}
.buddy-club-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.left-box {
  height: 660px;
  width: 700px;
  background-image: url(./images/exterior.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.right-box {
  height: 660px;
  width: 700px;
  background-color: rgba(33, 43, 74, 1);
}
.first-note {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  width: 80%;
  margin-left: 100px;
  margin-top: 20%;
  word-spacing: 2px;
}
.membership-plans {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 30px;
  margin-left: 150px;
  margin-top: 10%;
}
.schedule-plans {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.474);
  font-weight: lighter;
  line-height: 30px;
  margin-left: 180px;
  margin-top: 1%;
  word-spacing: 2px;
  font-size: small;
}
.view-space {
  font-size: 13px;
  color: white;
  margin-top: 8px;
  margin-left: 8px;
}
.view-space:hover {
  color: rgb(14, 18, 31);
}
.view-space-container {
  border: 2px solid white;
  height: 50px;
  width: 50px;
  margin-left: 250px;
  margin-top: 100px;
}
.visit-container {
  border: 2px solid white;
  height: 50px;
  width: 50px;
  margin-left: 310px;
  margin-top: -50px;
}
.visit {
  margin-top: 15px;
  margin-left: 13px;
  color: white;
  font-size: 13px;
}
.visit:hover {
    color: rgb(14, 18, 31);
}
.Buddy-clubs-one {
  border: 2px dashed rgb(14, 18, 31);
  width: 120px;
  height: 400px;
  margin-top: 150px;
  margin-left: 260px;
}
.Buddy-clubs-text1 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: -250px;
  margin-left: 150px;
  color: rgb(14, 18, 31);
}
.health-Clubs-sections {
  height: 100vh;
  width: 100vw;
}
.health-Clubs-container {
  display: flex;
  flex: row;
  width: 100%;
}
.right-box2 {
  height: 660px;
  width: 700px;
  background-image: url(./images/gym2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.left-box2 {
  height: 660px;
  width: 700px;
  background-color: rgba(33, 43, 74, 1);
}
.left-note2 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: white;
  font-weight: bold;
  line-height: 30px;
  margin-top: 250px;
  margin-left: 100px;
}
.activities1 {
  text-transform: capitalize;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 15px;
  margin-top: -80px;
  margin-left: 300px;
}
.amount1 {
  font-size: 100px;
  color: white;
  font-weight: normal;
  margin-top: -180px;
  margin-left: 280px;
  border: 3px solid white;
  border-radius: 100px;
  width: 120px;
}
.view-activities-container {
  border: 2px solid white;
  height: 30px;
  width: 130px;
  margin-top: 350px;
  margin-left: 270px;
}
.View-Activities:hover{
    color: rgb(14, 18, 31);
}
.View-Activities {
  font-size: 13px;
  color: white;
  margin-top: 6px;
  margin-left: 10px;
}
.health-clubs {
  border: 2px dashed rgb(14, 18, 31);
  width: 120px;
  height: 400px;
  margin-top: 100px;
  margin-left: 250px;
}
.health-clubs1 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: -250px;
  margin-left: 150px;
  color: rgb(14, 18, 31);
}
.health-clubs-sections2 {
  height: 100vh;
  width: 100vw;
}
.health-clubs-container2 {
  display: flex;
  flex: row;
  width: 100%;
}
.left-box3 {
  height: 657px;
  width: 685px;
  background-image: url(./images/gym3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.right-box3 {
  height: 657px;
  width: 685px;
  background-color: rgba(33, 43, 74, 1);
}
.health-clubs2 {
  border: 2px dashed white;
  width: 120px;
  height: 400px;
  margin-top: 100px;
  margin-left: 250px;
}
.health-clubs3 {
  font-size: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: -250px;
  margin-left: 150px;
  color: white;
}
.Notepage {
  width: 100vw;
  height: 60.8vh;
}
.Notepage-container {
  display: flex;
  flex: row;
}
.left-box4 {
  height: 400px;
  width: 700px;
  background-image: url(./images/fruit.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.middlebox {
  height: 400px;
  width: 800px;
  background-color: rgba(33, 43, 74, 1);
}
.right-box4 {
  height: 400px;
  width: 700px;
  background-image: url(./images/trainer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nutrition {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-left: 160px;
  margin-top: 100px;
  font-weight: bold;
}
.buddy-nutrition {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  margin-left: 180px;
  margin-top: 10px;
  font-weight: bold;
}
.read {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  margin-left: 50px;
}
.recipe {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 150px;
  margin-left: 200px;
  font-size: 12px;
}
.meet-your {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 13px;
  font-weight: normal;
  margin-top: 100px;
  margin-left: 155px;
}
.personal-trainer {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 155px;
}
.personal-trainer-container {
  width: 70px;
}
.partnership {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 140px;
}
.buddypartners {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 200px;
}
.findpartners {
  color: white;
  margin-left: 60px;
  margin-top: 15px;
  font-weight: lighter;
}
.buddypartnerships {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: white;
  margin-left: 170px;
  margin-top: 130px;
}
.bookings {
  width: 100%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  background-image: url(./images/abstract.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scrollbar-width: none;
  -ms-overflow-style: none;

}
.bookingpage-container {
  display: flex;
  flex: row;
}
.left-box5 {
  height: 650px;
  width: 700px;
  background-color: rgba(22, 40, 92, 0.54);
}
.middle-box5 {
  height: 650px;
  width: 700px;
  background-color: rgba(3, 10, 32, 0.79);
}
.right-box5 {
  height: 650px;
  width: 700px;
  background-color: rgba(22, 40, 92, 0.54);
}
.fitness1 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  color: white;
  font-weight: bold;
  margin-top: -150px;
  margin-left: 70px;
}
.fitness1-container {
  border: 1px dashed white;
  width: 100px;
  height: 250px;
  margin-top: 100px;
  margin-left: 220px;
}
.fitness1-note {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: white;
  margin-left: 120px;
  margin-top: 130px;
}
.view-map-container {
  border: 3px solid white;
  width: 50px;
  height: 50px;
  margin-left: 245px;
  margin-top: 20px;
}
.view-map {
  color: white;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 8px;
}
.view-map:hover{
    color: rgb(14, 18, 31);
}
.days {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.62);
  margin-left: 50px;
  margin-top: 100px;
  font-size: 11px;
}
.weekends {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.62);
  margin-left: 100px;
  margin-top: 10px;
  font-size: 11px;
}
.telephone {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.62);
  margin-left: 300px;
  margin-top: -35px;
  font-size: 11px;
}
.email {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.62);
  margin-left: 333px;
  margin-top: 10px;
  font-size: 11px;
}
.timezone {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 170px;
  margin-top: -34px;
  font-size: 11px;
}
.timezone2 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 170px;
  margin-top: 10px;
  font-size: 11px;
}
.number {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 379px;
  margin-top: -34px;
  font-size: 11px;
}
.address {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 379px;
  margin-top: 10px;
  font-size: 11px;
}
